Padding is: {{padding}} <button {{action 'increasePadding'}}>+</button>

{{#leaflet-map
  maxZoom=10
  bounds=bounds
  fitBoundsOptions=(hash
    paddingTopLeft=(point 0 0)
    paddingBottomRight=(point 0 0)
    padding=padding
    maxZoom=10
  )
}}
  {{tile-layer url="http://{s}.basemaps.cartocdn.com/light_all/{z}/{x}/{y}.png"}}
  {{#each bounds as |marker index|}}
    {{marker-layer
      location=marker
    }}
  {{/each}}
{{/leaflet-map}}
